
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    margin: auto;
  }
}

@layer utilities {
    .grid-cols-dashboard-layout {
    grid-template-columns: 280px 1fr;
  }
}

/* body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */
